@import "tailwindcss";

@tailwind utilities;



:root {
  --background-color: #ffffff;
  --text-color: #171717;
  --colour-grey: #888888;
}

@theme {
  --color-green-700: #22c950;
  --color-green-800: #095307;
  --color-gray-500: #888888;
  --showLayer: showLayer 0.3s ease-in forwards;
  --hideLayer: hideLayer 0.3s ease-out forwards;
}

@layer base {
  *,
  :hover {
    scrollbar-color: unset;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-green-700);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }
}

input, textarea, select {
  background-color: var(--colour-grey); /* Сірий фон */
  color: var(--text-color); /* Колір тексту (можна змінити на інший, якщо потрібно) */
  border: none;
  padding: 0.5rem; /* Додаємо внутрішні відступи */
  border-radius: 4px; /* Круглі кути */
}

/* Стилізуємо інпути при фокусі (коли на них натискають) */
input:focus, textarea:focus, select:focus {
  background-color: var(--color-gray-500); /* Зелене підсвічування фону при фокусі */
  border: none; /* Зелена рамка при фокусі */
  color: var(--text-color); /* Білий текст */
  outline: none; /* Видаляємо стандартну підсвітку фокусу */
}

/* Стилізуємо плейсхолдери */
input::placeholder, textarea::placeholder {
  color: var(--color-gray-500); /* Колір тексту в плейсхолдері */
}




/* Вибрані опції в меню будуть мати зелений фон і білий текст */
select option:checked {
  background-color: var(--color-gray-500); /* Зелене підсвічування вибраної опції */
  color: var(--text-color) ; /* Білий текст */
}

/* Зелений фон при наведенні мишкою */
select option:hover {
  background-color: var(--color-gray-500); /* Зелене підсвічування при наведенні */
  color:  var(--text-color) ; /* Білий текст при наведенні */
}

/* Видалення синьої підсвітки в деяких браузерах (Firefox, Safari) */


/* Всі опції по замовчуванню мають зелений текст */
select option {
  color: var(--color-gray-500); /* Зелений текст у всіх опціях */
  background-color:  var(--background-color); /* Білий фон */
}



body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

